<div class="container">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="jumbotron text-center">

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <td ng-repeat="field in fields">{{field.mappedName}}</td><td>action</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in items">
        <td ng-repeat="fieldd in fields">
          <span ng-click="showEdit[fieldd.mappedName] = true" ng-show="!showEdit[fieldd.mappedName]" style="min-width: 200px;">{{item[fieldd.mappedName]}}</span>
          <input ng-show="showEdit[fieldd.mappedName]" ng-model="item[fieldd.mappedName]" ng-model-options="{debounce:200}" ng-change="updateItem(item)" ng-blur="showEdit[fieldd.mappedName] = false">
        </td>
      <td><button ng-click="$parent.removeItem(item)" type="button">remove</button></td>
      </tr>
      <tr>
        <td ng-repeat="field in fields"><input ng-model="$parent.newItem[field.mappedName]"></td>
        <td><button ng-click="addItem(newItem)" type="button">add</button></td>
      </tr>
      </tbody>
    </table>

    <pre>
    </pre>

  </div>
</div>
